<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
        <title>vue-boolflix</title>
    </head>
    <body>
        <div id="app">

            <header class="top_container">
                <div class="topbar d-flex">
                    <h1>APIFLIX</h1>
                    <i @click="showFunc" v-if="seeInput"  class="fas fa-search"></i>
                    <form v-else class="search d-flex" @submit.prevent="searchFunc">
                        <input type="text" v-model="search">   
                    </form> 
                </div>
            </header>

            <div class="movie_section d-flex" @click="clearFunc">

                <div class="movie_info" v-for="title in shows.movie">  
                    <img class="poster" v-if="title.poster_path !== null" :src="`https://image.tmdb.org/t/p/w342/${title.poster_path}`" alt="">
                    <img v-else class="poster" src="assets/img/no-poster-available.png" alt="">
                    <div class="movie_hover "> 
                        <h2>{{title.title}}</h2>
                        <h3>{{title.original_title}}</h3>
                        <img class="flag" v-if="codeFlag.includes(title.original_language) == true" :src="`https://www.countryflags.io/${title.original_language}/shiny/32.png`">
                        <h4 v-else>{{title.original_language}}</h4>
                        <i v-for="star in title.vote_average" class="fas fa-star"></i><i v-for="star in 5-title.vote_average" class="far fa-star"></i>
                        <h5>Overview</h5>
                        <p>{{title.overview}}</p>
                        <h5>Cast</h5>
                        <p v-for="movieActor in title.movieCast">{{movieActor}}</p>
                        <h5>Genre</h5>
                        <p v-if="genres.icludes(title.genre_ids)? title.genre_ids == genres.name "> </p>
                    </div>
                </div> 

                <div class="movie_info" v-for="title in shows.tv">              
                    <img class="poster" v-if="title.poster_path !== null" :src="`https://image.tmdb.org/t/p/w342/${title.poster_path}`" alt="">
                    <img v-else class="poster" src="assets/img/no-poster-available.png" alt="">        
                    <div class="movie_hover "> 
                        <h2>{{title.name}}</h2>
                        <h3>{{title.original_name}}</h3>
                        <img class="flag" v-if="codeFlag.includes(title.original_language) == true" :src="`https://www.countryflags.io/${title.original_language}/shiny/32.png`">
                        <h4 v-else>{{title.original_language}}</h4>
                        <i v-for="star in title.vote_average" class="fas fa-star"></i><i v-for="star in 5-title.vote_average" class="far fa-star"></i>
                        <h5>Overview</h5>
                        <p>{{title.overview}}</p>
                        <h5>Cast</h5>
                        <p v-for="tvActor in title.tvCast">{{tvActor}}</p>
                    </div>
                </div>   
                 
            </div>    

        </div>
       <!-- Axios CDN -->
       <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

       <!-- VueJs CDN -->
       <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
       
       <!-- link to javascript file -->
       <script src="assets/js/main.js"></script> 
    </body>
</html>