<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
        <title>vue-boolflix</title>
    </head>
    <body>
        <div id="app">

            <header class="topbar d-flex">
                <h1>BOOLFLIX</h1>
                <form class="search d-flex" @keydown="searchFunc">
                    <input type="text" v-model="search">   
                </form>             
            </header>

            <div class="movie_section d-flex">

                <div class="movie_info" v-for="title in movies">
                    
                    <img v-if="title.poster_path !== null" :src="`https://image.tmdb.org/t/p/w342/${title.poster_path}`" v-if="hover = false" alt="">
                    <img v-else src="assets/img/no-poster-available.png" alt="">
                    
                    <div class="movie_hover "> 
                        <h2>{{title.title}}</h2>
                        <h2>{{title.name}}</h2>
                        <h3>{{title.original_title}}</h3>
                        <h3>{{title.original_name}}</h3>
                        <img class="flag" v-if="codeFlag.includes(title.original_language) == true" :src="`https://www.countryflags.io/${title.original_language}/shiny/32.png`">
                        <p v-else>{{title.original_language}}</p>
                        <i v-for="star in title.vote_average" class="fas fa-star"></i><i v-for="star in 5-title.vote_average" class="far fa-star"></i>
                        <p>{{title.overview}}</p>
                    </div>
                </div>   
            </div>    

        </div>
       <!-- Axios CDN -->
       <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

       <!-- VueJs CDN -->
       <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
       
       <!-- link to javascript file -->
       <script src="assets/js/main.js"></script> 
    </body>
</html>