<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <title>vue-boolflix</title>
    </head>
    <body>
        <div id="app">
            <header class="topbar d-flex">
                <h1>BOOLFLIX</h1>
                <form class="search d-flex" @keydown="searchFunc">
                    <input type="text" v-model="search">   
                </form>             
            </header>
            <div class="movie_section d-flex">
                <div class="movie_info" v-for="title in movies">
                    <img v-if="title.poster_path !== null" :src="`https://image.tmdb.org/t/p/w154/${title.poster_path}`" alt="">
                    <img v-else src="assets/img/no-poster-available.png" alt="">
                    <p>{{title.title}}</p>
                    <p>{{title.name}}</p>
                    <p>{{title.original_title}}</p>
                    <p>{{title.original_name}}</p>
                    <img v-if="codeFlag.includes(title.original_language) == true" :src="`https://www.countryflags.io/${title.original_language}/shiny/32.png`">
                    <p v-else>{{title.original_language}}</p>
                    <p>{{title.vote_average}}</p>
                    <i v-for="star in title.vote_average" class="fas fa-star"></i><i v-for="star in 5-title.vote_average" class="far fa-star"></i>
                </div>
            </div>



        </div>
       <!-- Axios CDN -->
       <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

       <!-- VueJs CDN -->
       <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
       
       <!-- link to javascript file -->
       <script src="assets/js/main.js"></script> 
    </body>
</html>