*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #293133 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.d-flex{
    display: flex;
}

.topbar{
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: darkslategrey;
}

.movie_section{
    flex-wrap: wrap;
}

.movie_info{
    padding: 20px;
    height: 500px;
    width: 200px;
    background-color: grey;
    margin: 20px;
}

h1{
    color: red;
}