*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #293133 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.d-flex{
    display: flex;
}

.topbar{
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: darkslategrey;
}

.movie_section{
    flex-wrap: wrap;
}

.movie_hover{  
    display: none;
    
}
.movie_info{    
    z-index: 1;
    width: 342px;
    margin-left: 50px;
    margin-top: 50px;
    position: relative;
}

h1{
    color: red;
}

.movie_info:hover .movie_hover{  
    display: inline;
    width: 342px;
    background-color: grey;
    height: 523px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;  
    padding: 20px;  
}

.movie_info:hover{
    z-index: 0;
}